@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto-Regular.ttf);
  }
}

/* Responsive adjustments */
html {
  font-size: 100%;
}

body {
  line-height: 1.5;
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
  
  .w-[10%], .w-[15%] {
    width: 100%;
  }

  .w-full {
    width: 100%;
  }

  .p-4 {
    padding: 1rem;
  }

  .text-lg {
    font-size: 1.125rem; /* Adjust text size */
  }
}
